FSDD Sound generation with VAE/dataset
FSDD Sound generation with VAE/samples
Instrument Sound Generation/dataset
.vscode
__pycache__
Instrument Sound Generation/archive.zip
Instrument Sound Generation/samples/generated
Instrument Sound Generation/samples/original
SoundGeneration_Z/dataset
SoundGeneration_Z/model_checkpoints